<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<label for="username">
    Name:
    <a th:text="${user.getUsername()}" id="username"></a>
    <p></p>
</label>
<label for="city">
    City:
    <a th:text="${user.getCity()}" id="city"></a>
    <p></p>
</label>
<label for="phone">
    Phone:
    <a th:text="${user.getPhone()}" id="phone"></a>
    <p></p>
</label>
<label for="email">
    Email:
    <a th:text="${user.getEmail()}" id="email"></a>
    <p></p>
</label>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>